.App {
  text-align: center;
  background: linear-gradient(to bottom, #2E1A47, #423457, #423457, #585F6D);
}


.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header {
  text-align: center;
  padding: 20px;
  color: #F4F1ED;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.nav button {
  background: none;
  border: none;
  color: #F4F1ED;
  font-weight: bold;
  cursor: pointer;
}

.nav a, .footer-links a {
  color: #F4F1ED;
  font-weight: bold;
  text-decoration: none;
}

.nav a:hover, .footer-links a:hover {
  color: #ADD8E6; /* Light blue color */
}

.rightNav {
  display: flex;
}

.rightNav img {
  width: 25px;
  height: 25px;
  background-color: transparent; 
  border: none;    
  cursor: pointer;
}

.footer {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center-align items horizontally */
  justify-content: center; /* Center content vertically in the container */
  padding: 20px;
  color: white; /* Example text color */
}

.footer-links {
  display: flex;
  gap: 20px; /* Adds space between the links */
  width: 100%; /* Take full width to separate from attribution */
  justify-content: center; /* Center these links horizontally */
}

.footer-attribution {
  text-align: center; /* Center the attribution text */
  width: 100%; /* Match width to ensure alignment */
  margin-top: 10px; /* Add some space above the attribution */
}



.book-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Creates a responsive grid with each column minimum 250px and maximum 1fr */
  grid-gap: 30px; 
  margin: auto;
  width: 80%; 
  padding: 20px; 
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  color: white
}

.pagination button {
  background-color: #ADD8E6; /* Light blue color */
  border: none;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}

.pagination button:hover {
  background-color: #61dafb; /* Light blue color */
  color: white;
}

.book-item {
  border: 1px solid #222222a4;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; 
  background: linear-gradient(to bottom, #a4eeff, #D3D0CC);
}

.book-item a {
  text-decoration: none;
  color: inherit;
}

.book-item:hover {
  background: linear-gradient(to bottom, #ADD8E6, #D3D0CC);
}

.book-image {
  width: 100%; 
  height: auto; 
}

.emphasize {
  font-weight: bold;
  text-align: center;
}

.bookInfo {
  text-align: left;
  width: 90%;
}

.logo {
  width: 175px;
  height: 175px;
  margin: 0 auto;
  display: block;
}

.likes {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px dotted #222222a4;
  width: 100%;
}

.likeButton img {
  width: 25px;
  height: 25px;
  background-color: transparent; 
  border: none;    
  cursor: pointer;
}

.likeButton {
  border: none;
  background-color: transparent;
}

.newBook {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.notFound{
  text-align: center;
  padding: 20px;
  color: #F4F1ED;
  min-height: 100vh;
}

.bookDetails-container-container {
  display: flex;
  flex-direction: column;
}

.backButton {
  display: flex;
  text-align: left;
}

.backButton a {
  text-decoration:dashed;
  color: #F4F1ED;
  padding: 5px;
}

.bookDetails-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 100%; /* Ensures the container takes full width */
  background: linear-gradient(to bottom, #a4eeff, #D3D0CC);
}

.bookDetails-container a img {
  width: 25px;
  height: 25px;
  background-color: transparent; 
  border: none;    
  cursor: pointer;
  padding: 10px;
}

.bookdetails-item {
  display: flex;
  flex-direction: row; /* Aligns children (image and details) in a row */
  align-items: flex-start; /* Aligns children vertically in the center */
  flex-grow: 1; /* Allows the container to grow and take necessary space */
}

.bookdetails {
  text-align: left; /* Ensures text within this div is left-aligned */
  margin-left: 20px; /* Adds spacing between the image and the text details */
  padding: 0; /* Resets any default padding */
  max-width: 60%;
}

.bookdetails h2, .bookdetails p {
  margin: 5px 0; /* Reduces vertical margin around headers and paragraphs */
}

.cover-isbn {
  display: flex;
  flex-direction: column; /* Aligns children in a column */
  align-items: center; /* Aligns children horizontally in the center */
}

.details-row {
  display: flex;
  flex-direction: row; /* Aligns children in a row */
  justify-content: space-between; /* Aligns children at the start and end of the container */
  border-bottom: 1px solid #000000; /* Adds a border at the bottom of each row */
}

.bookDetails-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #000000;
  padding-left: 20px;
  flex-basis: 20%; /* Adjust based on preference for sidebar width */
}

.bookDetails-sidebar p {
  margin: 10px 0;
}

.bookDetails-sidebar button {
  padding: 10px 20px;
  cursor: pointer;
  width: 80%; /* Adjust based on design preference */
}

.editBookItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.editBookItem input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border-color: #2E1A47;
}

.editBookItem textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border-color: #2E1A47;
}

.editBookItem label {
  margin: 10px 0;
  font-weight: bold;
}

.editActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editActions a {
  padding: 10px 20px;
  width: 45%;
}


.editBook {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.deleteBook {
  background-color: transparent; 
  border: none;    
  cursor: pointer;
}

.possibleActions {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.deleteBook img{
  width: 25px;
  height: 25px;
  padding: 10px;
}


.cart-outer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  width: 100%;
}

.cart-middle {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 10px; /* Added for spacing between items */
  justify-content: space-between;
}

.cart-book-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1; /* Allow book info to take up remaining space */
}

.cart-book-info a {
  text-decoration: underline;
  color: #2E1A47;
  font-weight: bold;
}

.cart-book-info a:hover {
  color: #13708e;
}

.book-price { /* Add this section */
  margin-top: 5px;
  font-size: 1rem;
  color: #2E1A47;
  margin-right: 20px; /* Space between price and remove button */
}

.cart-outer button {
  background: none;
  border: none;
  cursor: pointer;
  padding-right: 15px;
}

.cart-outer button img {
  width: 20px;
  height: 20px;
}

.cart-outer button img:hover {
  width: 21px;
  height: 21px;
}

.cart-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.cart-footer button {
  background-color: #ADD8E6; /* Light blue color */
  border: none;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}

.cart-footer button:hover {
  background-color: #61dafb; /* Light blue color */
  color: white;
}


.disabled {
  pointer-events: none;
  opacity: 0.5;
}